<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServicePA5Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PA5WS/WebServicePA5.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServicePA5Soap"
                contract="ServiceReferencePA5WS.WebServicePA5Soap" name="WebServicePA5Soap" />
        </client>
    </system.serviceModel>
</configuration>